@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&family=Noto+Sans:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@layer base {
  body {
    @apply font-display bg-background-light dark:bg-background-dark text-neutral-900 dark:text-neutral-50;
    @apply transition-colors duration-200;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }

  .material-symbols-outlined.filled {
    font-variation-settings: 'FILL' 1;
  }
}

@layer utilities {
  .transition-all-smooth {
    @apply transition-all duration-300 ease-in-out;
  }
}

#root{
  font-family: "Work Sans",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}